@font-face {
    font-family: 'Manrope';
    src: url('Manrope-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Manrope';
    src: url('Manrope-Medium.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Manrope';
    src: url('Manrope-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

/**
  Нормализация блочной модели
 */
*,
::before,
::after {
  box-sizing: border-box;
}

/**
  Убираем внутренние отступы слева тегам списков,
  у которых есть атрибут class
 */
:where(ul, ol):where([class]) {
  padding-left: 0;
}

/**
  Убираем внешние отступы body и двум другим тегам,
  у которых есть атрибут class
 */
body,
:where(blockquote, figure):where([class]) {
  margin: 0;
}

/**
  Убираем внешние отступы вертикали нужным тегам,
  у которых есть атрибут class
 */
:where(
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  ul,
  ol,
  dl
):where([class]) {
  margin-block: 0;
}

:where(dd[class]) {
  margin-left: 0;
}

:where(fieldset[class]) {
  margin-left: 0;
  padding: 0;
  border: none;
}

/**
  Убираем стандартный маркер маркированному списку,
  у которого есть атрибут class
 */
:where(ul[class]) {
  list-style: none;
}

:where(address[class]) {
  font-style: normal;
}

/**
  Обнуляем вертикальные внешние отступы параграфа,
  объявляем локальную переменную для внешнего отступа вниз,
  чтобы избежать взаимодействие с более сложным селектором
 */
p {
  --paragraphMarginBottom: 24px;

  margin-block: 0;
}

/**
  Внешний отступ вниз для параграфа без атрибута class,
  который расположен не последним среди своих соседних элементов
 */
p:where(:not([class]):not(:last-child)) {
  margin-bottom: var(--paragraphMarginBottom);
}


/**
  Упрощаем работу с изображениями
 */
img {
  display: block;
  max-width: 100%;
  height: auto;
}

/**
  Наследуем свойства шрифт для полей ввода
 */
input,
textarea,
select,
button {
  font: inherit;
}

html {
  /**
    Пригодится в большинстве ситуаций
    (когда, например, нужно будет "прижать" футер к низу сайта)
   */
  height: 100%;
}

/**
  Плавный скролл
 */
html,
:has(:target) {
  scroll-behavior: smooth;
}

body {
  /**
    Пригодится в большинстве ситуаций
    (когда, например, нужно будет "прижать" футер к низу сайта)
   */
  min-height: 100%;
  /**
    Унифицированный интерлиньяж
   */
  line-height: 1.5;
}

/**
  Приводим к единому цвету svg-элементы
 */
svg *[fill] { fill: currentColor }
svg *[stroke] { stroke: currentColor }

/**
  Чиним баг задержки смены цвета при взаимодействии с svg-элементами
 */
svg * {
  transition-property: fill, stroke;
}

/**
  Удаляем все анимации и переходы для людей,
  которые предпочитают их не использовать
 */
@media (prefers-reduced-motion: reduce) {
  *,
  ::before,
  ::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type=number]{
  -moz-appearance: textfield;
}

:root {
  --color-dark: #000;
  --color-dark-alternate: #161C2D;
  --color-light: #fff;
  --color-grey: #666;
  --color-accent: #F64B4B;
  --background-color-accent: #473BF0;

  --box-shadow-blue: 0 -10px 0 var(--background-color-accent);
  --box-shadow-dark: 0 2px 100px var(--color-grey);

  --font-family: 'Manrope', sans-serif;

  --container-width: 1410px;
  --container-padding-x: 15px;

  --input-height: 45px;

  --header-height: 91px;

  --transition-duration: 0.2s;
}

a,
button,
input,
template,
svg *{
  transition-duration: var(--transition-duration);
}

a{
  text-decoration: none;
  display: inline-block;
  color: currentColor;
}

ol li {
  list-style-type: none;
}

figure{
  margin: 0;
}

.visually-hidden{
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  margin: -1px !important;
  border: 0 !important;
  padding: 0 !important;
  white-space: nowrap !important;
  clip-path: inset(100%) !important;
  clip: rect(0 0 0 0) !important;
  overflow: hidden !important;
}

.container {
  max-width: calc(var(--container-width) + var(--container-padding-x) * 2);
  padding-inline: var(--container-padding-x);
  margin-inline: auto;
}

.button{
  border: none;
  display: inline-flex;
  align-items: center;
  height: 47px;
  background-color: var(--color-accent);
  white-space: nowrap;
  font-weight: 700;
  border-radius: 8px;
  color: var(--color-light);
  font-size: clamp(15px, 0.85vw, 17px);
  padding-inline: 40px;
}

.input{
  width: 100%;
  border-radius: 5px;
  height: var(--input-height);
  display: inline-block;
  padding: 12px 15px;
  border: 1px solid #f4f7fa
}
input:focus{
  outline: none;
  color: var(--color-dark);
}
.input::placeholder{
  color: var(--color-grey);
}

select{
  all: unset; 
  width: clamp(300px, 30vw, 600px);
  border-radius: 5px;
  display: inline-block;
  padding: 12px 15px;
  border: 1px solid #f4f7fa
}

select option{
  width: 100%;
  display: inline-block;
  font: inherit;
  background: none;
  border: none;
}

select {
  color: var(--color-grey);
} 

.title{
  text-transform: uppercase;
  font-weight: 700;
  font-size: clamp(24px, 2.4vw, 48px);
  text-align: center;
  margin-inline: auto;
}

.assent{
  color: (var(--color-grey));
  font-size: 12px;
  text-align: center;
}

.assent a {
  color: var(--background-color-accent);
}

body{
  font-family: var(--font-family);
  color: var(--color-dark-alternate);
  background-color: var(--color-light);
  font-size: 17px;
  font-weight: 400;
  line-height: 1.125;
}

.header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 700;
  min-height: 91px;
}

.burger-btn{
  display: none;
}

.header__logo{
  flex-shrink: 0;
}

.header__list{
  display: flex;
  column-gap: 30px;
}

.header__link{
  color: var(--color-dark-alternate);
    white-space: nowrap;
}

.header__link.is-current{
  color: var(--color-accent);
}

.header__phone-link{
  background-color: var(--background-color-accent);
  text-align: center;
  height: 68px;
  white-space: wrap;
  max-width: 345px;
}

.main-background{
  position: absolute;
  top: 0;
  z-index: -1;
  height: 100vh;
}

.heroes-action{
  display: flex;
  justify-content: space-between;
  column-gap: 1vw;
}

.heroes-action__info{
  display: flex;
  flex-direction: column;
}

.heroes-action__today-buy{
  color: var(--color-accent);
  font-weight: 700;
  margin-bottom: 30px;
}

.heroes-action__today-buy strong{
  font-size: 22px;
}

.heroes-action__main-title{
  line-height: 1;
  font-size: clamp(40px, 3vw, 60px);
  margin-bottom: 10px;
  text-transform: uppercase;
  white-space: nowrap;
}

.heroes-action__sub-title{
  color: var(--color-grey);
  font-size: clamp(24px, 1.6vw, 32px);
  text-transform: uppercase;
  font-weight: 500;
  margin-bottom: 30px;
}

.heroes-action-item{
  max-width: 585px;
  margin-bottom: 25px;
  display: flex;
  align-items: center;
  column-gap: 15px;
}

.heroes-action-item:last-child{
  margin-bottom: 30px;
}

.heroes-action__heading{
  font-weight: 700;
  font-size: 20px;
  line-height: 1.35;
  margin-bottom: 10px;
}

.heroes-action__button{
  background-color: var(--background-color-accent);
  font-size: clamp(15px, 1vw, 20px);
  align-self: center;
}

.heroes-action__find-cost{
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.heroes-action__find-cost::before{
  content: '';
  position: absolute;
  bottom: 70%;
  left: 0%;
  z-index: 2;
  display: inline-block;
  background: url('../icons/heroes-action/heroes-action-decor.svg') center / contain no-repeat;
  height: 24px;
  width: 78px;
}

.heroes-action__find-cost::after{
  content: '';
  position: absolute;
  top: 10%;
  right: 10%;
  z-index: 2;
  display: inline-block;
  background: url('../icons/heroes-action/heroes-action-decor.svg') center / contain no-repeat;
  height: 24px;
  width: 78px;
}


.heroes-action__form{
  background-color: #fafafaeb;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 525px;
  border-radius: 35px 35px 0 0;
  padding: 40px 60px;
  position: relative;
  bottom: calc(100% - 700px);
  box-shadow: var(--box-shadow-blue);
}

.heroes-action__form-heading{
  font-size: 24px;
  font-weight: 700;
  text-align: center;
  white-space: nowrap;
  line-height: 1.60;
}

.heroes-action__form-heading b{
  color: var(--color-accent);
  font-size: 35px;
  text-transform: uppercase;
}

.heroes-action__body{
  display: flex;
  align-items: center;
  flex-direction: column;
}

.heroes-action__input{
  max-width: 380px;
  margin-bottom: 10px;
}

.heroes-action__assent{
  color: (var(--color-grey));
  font-size: 12px;
  padding-block: 24px;
  max-width: 380px;
  text-align: center;
}

.heroes-action__assent a {
  color: var(--background-color-accent);
}

.heroes-action__form-button{
  background-color: var(--color-accent);
}

.impact,
.how-happens{
  padding: 60px 0 90px;
}

.impact__title{
  max-width: 690px;
  margin-bottom: 30px;
}

.impact__list,
.how-happens__list{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  align-items: center;
  justify-items: center;
  column-gap: 1.5vw;
  margin-bottom: 50px;
}

.impact__item,
.how-happens__item{
  max-width: 330px;
  display: flex;
  align-items: start;
  justify-content: space-between;
}

.impact__heading,
.how-happens__heading{
  font-size: clamp(17px, 1.2vw, 24px);
  font-weight: 700;
  margin-bottom: 5px;
}

.impact__paragraph,
.how-happens__paragraph{
  font-size: clamp(15px, 0.85vw, 17px);
}

.calculator{
  display: flex;
  align-items: center;
  flex-direction: column;
  row-gap: 30px;
  box-shadow: var(--box-shadow-blue), var(--box-shadow-dark);
  border-radius: 35px;
  padding-block: 40px;
}

.calculator__form{
  display: flex;
  column-gap: 4.5vw;
}

.calculator__car-info,
.calculator__user-info{
  width: 100%;
  max-width: 600px;
  display: flex;
  flex-direction: column;
  align-items: start;
  row-gap: 15px;
}

.calculator__heading{
  font-weight: 700;
  line-height: 1.35;
  font-size: clamp(17px, 1vw, 20px);
}

.calculator__button{
  align-self: end;
}

.calculator__assent{
  align-self: center;
  max-width: 300px;
}

.image-1{
  position: relative; 
  bottom: 100px;
  right: 50%;
  display: block; 
  margin-left: auto;
  translate: 50% 0
}

.compare{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 90px;
}

.compare__title{
  margin-bottom: 10px;
}

.compare__sub-title{
  font-weight: 700;
  color: var(--color-grey);
  font-size: clamp(17px, 1.2vw, 24px);
  margin-bottom: 60px;
  text-align: center;
}

.compare__cards-area{
  display: flex;
  align-items: flex-start;
}

.compare__card,
.compare__main-card{
  border-radius: 35px;
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 60px;
}

.compare__card{
  background-color: #f9f9f9;
}

.compare__card:first-child{
  box-shadow: -5px -5px 20px var(--color-grey);
}
.compare__card:last-child{
  box-shadow: 5px -5px 20px var(--color-grey);
}

.compare__card-heading,
.compare__card-paragraph{
  max-width: 320px;
}

.compare__card-heading{
  font-size: clamp(20px, 1.3vw, 26px);
  font-weight: 700;
  letter-spacing: 1px;
  margin-bottom: 30px;
}

.compare__card-paragraph{
  margin-bottom: 60px;
  position: relative;
}

.compare__card-paragraph::before{
  content: '';
  position: absolute;
  display: inline-block;
  width: 100%;
  height: 1px;
  background-color: #d3d3d3;
  bottom: -30px;
  right: 0;
}

.compare__card-list{
  align-self: self-start;
}

.compare__card-item{
  display: flex;
  align-items: start;
  margin-bottom: 15px;
}

.compare__card-item:last-child{
  margin-bottom: 0;
}

.compare__card-check{
  margin-right: 15px;
}

.compare__card-item-heading{
  font-weight: 700;
  font-size: clamp(17px, 1vw, 20px);
}

.compare__main-card{
  z-index: 1;
  box-shadow: var(--box-shadow-blue), -5px -5px 20px var(--color-grey), 5px -5px 20px var(--color-grey);
}

.main-card__heading{
  font-weight: 700;
  color: var(--background-color-accent);
  letter-spacing: 1px;
  font-size: clamp(20px, 1.6vw, 32px);
  line-height: 1.2;
  margin-bottom: 30px;
}

.main-card__paragraph{
  font-weight: 700;
  font-size: clamp(17px, 1.2vw, 24px);
  max-width: 445px;
  margin-bottom: 30px;
}

.main-card__sub-heading{
  color: var(--background-color-accent);
  font-size: clamp(17px, 1.2vw, 24px);
  font-weight: 700;
  margin-bottom: 135px;
  position: relative;
}

.main-card__sub-heading::before{
  content: '';
  position: absolute;
  display: inline-block;
  width: 100%;
  height: 1px;
  background-color: #d3d3d3;
  bottom: -63px;
  right: 0;
}

.main-card__list{
  align-self: self-start;
}

.main-card__item{
  display: flex;
  align-items: start;
  margin-bottom: 15px;
}

.main-card__item:last-child{
  margin-bottom: 70px;
}

.main-card__item-heading{
  font-weight: 700;
  font-size: clamp(15px, 1vw, 20px);
}

.main-card__item-heading b{
  color: var(--color-accent);
}

.main-card__item-paragraph{
  line-height: 1.35;
  font-size: clamp(17px, 1vw, 20px);
}

.main-card__button{
  font-size: 17px;
}

.services{
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--color-light);
  z-index: 1;
  position: relative;
  padding-block: 85px;
}

.services::before {
  content: "";
  position: absolute;
  top: 0;
  left: -195px;
  right: -195px;
  bottom: 0;
  background-color: var(--background-color-accent);
  border-radius: 50px 50px 0 0;
  z-index: -1;
}

.services__bg{
  position: absolute;
  height: 300px;
}

.services__title{
  font-weight: 700;
  font-size: clamp(32px, 2.4vw, 48px);
  margin-bottom: 30px;
}

.services__row{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 15px;
}

.services__row-item{
  border: 1px solid #f4f7fa;
  border-radius: 5px;
  min-width: 340px;
  width: 100%;
  display: flex;
  align-items: center;
}

.services__row-item img{
  margin-right: 15px;
}

.services__paragraph{
  line-height: 1.35;
  font-size: clamp(17px, 1vw, 20px);
}

.benefits{
  padding-block: 50px;
  position: relative;
  margin-bottom: 50px;
}

.benefits::before{
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: -195px;
  right: -195px;
  bottom: 0;
  background-color: #f4f7fa;
  border-radius: 0 0 50px 50px;
  z-index: -1;
}

.benefits__item{
  display: flex;
}

.benefits__item:first-child .benefits__title{
  box-shadow: -4px -4px 0 var(--background-color-accent);
  border-radius: 30px 0 0 30px;
}

.benefits__title{
  font-size: clamp(17px, 1.2vw, 24px);
  font-weight: 700;
  padding: 30px;
  cursor: pointer;
  margin-bottom: 15px;
  min-width: 340px;
}

.benefits__title.active{
  border-radius: 30px 0 0 30px;
  background-color: var(--color-light);
}

.benefits__box{
  display: none;
}

.benefits__box.active{
  display: block;
}

.benefits__list{
  margin-top: 50px;
  position: absolute;
  top: 0;
  display: flex;
  flex-direction: column;
  row-gap: 15px;
  background-color: var(--color-light);
  border-radius: 0 30px 30px 30px;
  padding: 30px 0 100px 30px;
  width: clamp(500px, 50vw, 1000px);
  box-shadow: 0 -4px 0 var(--background-color-accent);
  height: calc(100% - 100px);
}

.benefits__list-item{
  display: flex;
  align-items: center;
  column-gap: 10px;
}

.how-happens{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.how-happens__title{
  margin-bottom: 50px;
}

.how-happens__item{
  align-items: center;
}

.how-happens__button{
  height: 62px;
  letter-spacing: 1px;
  font-size: clamp(17px, 1.3vw, 26px);
}

.models,
.location{
  padding-block: 60px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.models::before {
  content: "";
  position: absolute;
  top: 0;
  left: -195px;
  right: -195px;
  bottom: 0;
  background: url('./images/BG-3.png') 0 0 / cover no-repeat;
  border-radius: 50px;
  z-index: -1;
}

.models__title,
.location__title{
  color: var(--color-light);
  font-size: clamp(24px, 2.4vw, 48px);
  text-align: center;text-transform: uppercase;
  margin-bottom: 50px;
}

.models__main{
  display: grid;
  row-gap: 50px;
  column-gap: 8px;
  grid-template-columns: repeat(7, 1fr);
}

.models__column{
  min-width: 175px;
}

.models__column-mark,
.location__column-mark{
  font-size: 20px;
  line-height: 1.35;
  color: var(--color-light);
  margin-bottom: 10px;
  white-space: nowrap;
}
.models__column-mark:last-child,
.location__column-mark:last-child{
  margin-bottom: 0;
}

.models__button,
.location__button{
  margin-top: 30px;
  border: none;
  background-color: transparent;
  color: var(--color-light);
  font-size: 15px;
  text-decoration: underline var(--color-light);
}

.location::before {
  content: "";
  position: absolute;
  top: 0;
  left: -195px;
  right: -195px;
  bottom: 0;
  background: url('./images/BG-4.png') 0 0 / cover no-repeat;
  border-radius: 50px 50px 0 0;
  z-index: -1;
}

.location__main{
  display: grid;
  row-gap: 50px;
  grid-template-columns: repeat(4, 1fr);
  column-gap: clamp(7px, 4vw, 100px);
}

.necessary{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-block: 90px;
  font-weight: 700;
}

.necessary__title{
  margin-bottom: 10px;
}

.necessary__sub-title{
  color: var(--color-grey);
  font-size: clamp(17px, 1.2vw, 24px);
  margin-bottom: 30px;
}

.necessary__row-lists{
  display: flex;
  align-items: start;
  justify-content: center;
  column-gap: 3vw;
  margin-bottom: 30px;
}

.necessary__list-box{
  display: flex;
  align-items: end;
  flex-direction: column;
  row-gap: 15px;
}

.necessary__list-box:last-child{
  align-items: start;
}

.necessary__heading-list{
  color: var(--background-color-accent);
  font-size: clamp(17px, 1vw, 20px);
}

.necessary__list{
  display: flex;
  flex-direction: column;
  row-gap: 15px;
  align-items: end;
}

.necessary__list.last{
  align-items: start;
}

.necessary__list-item{
  display: flex;
  align-items: center;
  column-gap: 15px;
}

.necessary__paragraph{
  font-weight: 400;
  color: var(--color-dark);
  margin-bottom: 15px;
  max-width: 1000px;
}

.necessary__paragraph.last{
  margin-bottom: 90px;
}

.necessary__check-text{
  font-size: clamp(17px, 1.2vw, 24px);
  white-space: nowrap;
}

.necessary__list-check{
  display: flex;
  align-items: center;
  column-gap: 0.75vw;
}

.necessary__check-item{
  align-items: center;
  display: flex;
  column-gap: 15px;
  border: 1px solid var(--color-accent);
  border-radius: 25px;
  padding: 12px 45px;
}

.example{
  margin-bottom: 90px;
  position: relative;
  height: 505px;
  /* margin-inline: 30px; */
}

.example__title{
  margin-bottom: 60px;
}

.example__slider{
  overflow: hidden;
}

.example__list{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  column-gap: 30px;
  transition-duration: var(--transition-duration);
}

.example__item{
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #f4f7fa;
  border-radius: 5px;
  width: calc(100% / 4 - 30px);
  flex-shrink: 0;
  padding-block: 30px;
}

.example__item img{
  border-radius: 5px;
}

.example__model{
  text-align: center;
  margin: 15px 0 6px;
  font-size: clamp(17px, 1.2vw, 24px);
  font-weight: 700;
}

.example__release{
  margin-bottom: 18px;
}

.example__price{
  font-weight: 700;
  font-size: clamp(17px, 1.3vw, 29px);
  letter-spacing: 1px;
  color: var(--color-grey);
}

.example__arrow{
  position: absolute;
  top: 60%;
  translate: 0% -100%;
  cursor: pointer;
  z-index: 1;
  padding: 10px;
  background-color: #d3d3d3c2;
  border-radius: 50%;
  transition-duration: var(--transition-duration);
}

.example__arrow--next{
  rotate: 180deg;
  right: 3%;
}

.cost{
  margin-bottom: 90px;
  padding-inline: 40px;
}

.cost__title{
  margin-bottom: 30px;
}

.cost__sub-titls-area,
.feedback__sub-title-area{
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 30px;
  margin-bottom: 30px;
}

.cost__sub-title,
.feedback__sub-title{
  cursor: pointer;
  font-size: 20px;
  font-weight: 700;
}
.cost__sub-title.active,
.feedback__sub-title.active{
  color: var(--background-color-accent);
  text-decoration: underline;
}

.cost__video {
  display: none;
}
.cost__video.active {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto; 
  row-gap: 30px;
}
.video__numbers-list{
  grid-column: span 2;
}
.video__image,
.video__main-form{
  grid-column: span 1;
}

.video__numbers-list,
.video__number-item{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.video__numbers-list{
  column-gap: 30px;
}
.video__number-item{
  max-width: 410px;
}

.video__number-item img{
  margin-right: 10px;;
}

.video__number-paragraph{
  font-size: clamp(15px, 0.85vw, 17px);
}

.video__main-form{
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 620px;
  row-gap: 15px;
}

.video__file{
  color: var(--background-color-accent);
  text-decoration: underline;
}

.video__select{
  width: calc(100% - 30px);
}

.video__assent{
  max-width: 300px;
}

.video__messenger-box{
  display: flex;
  align-items: center;
  column-gap: 15px;
}

.question{
  margin-block: 90px;
  display: flex;
  align-items: center;
  column-gap: 2.5vw;
}

.question__title{
  margin-bottom: 10px;
  text-align: right;
}

.question__sub-title{
  font-size: 20px;
  color: #2a2a2a;
  line-height: 1.35;
  text-align: right;
  margin-bottom: 30px;
}

.question__image-mobile{
  display: none;
}

.question__accordion{
  width: 910px;
  min-height: 700px;
}

.question__item {
  position: relative;
  padding: 30px;
  border: 1px solid #f4f7fa;
  border-radius: 10px;
  margin-bottom: 15px;
}
.question__item:last-child {
  margin-bottom: 0;
}

.question__item svg{
  color: var(--color-light);
  position: absolute;
  top: 0;
  right: 0;
}
.question__item path{
  stroke: var(--background-color-accent);
}

.question__item-active{
  box-shadow: -2px 0 50px #9e9e9e, -5px 0 0 var(--background-color-accent);
}

.question__item-active svg {
  transform: rotate(90deg);
}

.question__item-active path{
  stroke: var(--color-accent);
}

.question__item-heading{
  font-weight: 700;
  font-size: clamp(17px, 1.2vw, 24px);
  cursor: pointer;
}

.question__item-content{
  color: #2a2a2a;
  margin-top: 20px;
}

.question__item-content{
  display: none;
}

.feedback__title{
  margin-bottom: 30px;
}

.feedback{
  margin-bottom: 300px;
}

.feedback__slider{
}
.slider-video,
.slider-text{
  display: none;
  display: none;
  align-items: center;
  justify-content: center;
  column-gap: 30px;
}
.feedback__slider.active{
  display: flex;
}

.feedback__slider-item{
  width: 630px;
  display: flex;
  align-items: flex-start;
  position: relative;
}

.feedback__slider-item img{
  margin-right: 10px;
}

.feedback__model{
  margin-right: auto;
}

.feedback__date{
  font-size: 12px;
}

.feedback__content-text{
  background-color: var(--color-light);
  position: absolute;
  top: 50px;
  right: 0;
  width: 430px;
  max-height: 200px;
  overflow: hidden;
  border: 1px solid #f4f7fa;
  padding: 30px;
  border-left: none;
  border-radius: 25px;
  transition-duration: var(--transition-duration);
  z-index: 2;
}

.feedback__content-video{
  background-color: var(--color-light);
  position: absolute;
  top: 50px;
  right: 0;
  width: 430px;
  border: 1px solid #f4f7fa;
  padding: 30px;
  border-left: none;
  border-radius: 25px;
}

.feedback__content-text.expanded {
  max-height: 400px;
}

.feedback__user{
  font-size: clamp(17px, 1vw, 20px);
  font-weight: 700;
  margin-bottom: 15px;
}

.feedback__text{
  color: #2a2a2a;
}

.feedback__button{
  position: absolute;
  bottom: -50px;
  font-weight: 700;
  font-size: 13px;
  border: none;
  background-color: transparent;
  letter-spacing: 2px;
  display: flex;
  align-items: center;
  padding: 0;
  column-gap: 10px;
}

.feedback__arrow.active {
  rotate: 90deg;
}

@media (max-width: 1900px) {
  .services::before,
  .benefits::before,
  .models::before,
  .location::before{
    left: -100px;
    right: -100px;
  }
  
  .services__row{
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 1750px) {
  .services::before,
  .benefits::before,
  .models::before,
  .location::before{
    left: 15px;
    right: 15px;
  }
  
  .services__bg{
    height: 500px;
  }
  
  .services__row{
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 1500px) {
  .services{
    background-color: var(--background-color-accent);
    border-radius: 50px 50px 0 0;
  }
  .services::before,
  .benefits::before,
  .models::before,
  .location::before{
    display: none;
  }
  .services__bg{
    height: 900px;
  }
  .services__row{
    grid-template-columns: 1fr;
  }
  .models{
    background: url('./images/BG-3.png') 50% 50% / cover no-repeat;
    border-radius: 50px;
  }
  .location{
    background: url('./images/BG-4.png') 50% 50% / cover no-repeat;
    border-radius: 50px 50px 0 0;
  }
  .benefits{
    background-color: #f4f7fa;
    border-radius: 0 0 50px 50px;
  }
  .example__item {
    width: calc(100% / 2 - 30px); /* 2 элемента при ширине от 767px до 1300px */
  }
  .question__accordion{
    width: 100%;
  } 
  .question__item-heading {
    margin-right: 50px;
  }
}

@media (max-width: 1300px) {
  .header{
    flex-wrap: wrap;
  }
  
  .burger-btn{
    z-index: 5;
    display: block;
    order: 1;
    border: none;
    background-color: transparent;
  }
  
  .header__list{
    position: absolute;
    inset: 0;
    background-color: var(--color-light);
    flex-direction: column;
    padding-left: 15px;
    padding-top: 30px;
    row-gap: 15px;
    z-index: 4;
    opacity: 0;
    visibility: hidden;
    transition-duration: var(--transition-duration);
  }

  .header__list.open-menu{
    opacity: 1;
    visibility: visible;
  }

  .impact__list,
  .how-happens__list{
    row-gap: 15px;
    grid-template-columns: repeat(2, 1fr);
  }

  .calculator{
    padding-block: 30px;
  }

  .calculator__car-info,
  .calculator__user-info{
    align-items: center;
  }

  .calculator__form{
    flex-direction: column;
    row-gap: 15px;
  }

  .calculator__button{
    align-self: center;
  }
  .image-1{
    bottom: -15px;
    right: 50%;
  }

  .compare__cards-area{
    flex-direction: column;
    align-items: center;
  }

  .how-happens__list{
    justify-items: start;
  }

  .models__main{
    grid-template-columns: repeat(5, 1fr);
  }

  .feedback__slider-item{
    flex-direction: column;
    align-items: center;
    row-gap: 15px
  }

  .feedback__model{
    margin-right: 0;
  }

  .feedback__content-text,
  .feedback__content-video{
    position: static;
  }

  .feedback__button{
    align-self: self-end;
  }
}

@media (max-width: 1024px) {
  .heroes-action{
    flex-direction: column;
    align-items: center;
  }

  .heroes-action__title{
    white-space: wrap;
  }

  .heroes-action__find-cost::before,
  .heroes-action__find-cost::after{
    display: none;
  }
  
  .heroes-action__form{
    padding: 30px 15px;
    bottom: calc(100% - 600px);
  }

  .impact,
  .how-happens{
    padding-block: 30px;
  }

  .benefits{
    margin-bottom: 30px;
  }

  .benefits__title{
    min-width: 230px;
  }

  .models__main{
    grid-template-columns: repeat(4, 1fr);
  }

  .necessary__image{
    width: 175px;
    aspect-ratio: 1;
  }

  .necessary__list-check{
    flex-direction: column;
    row-gap: 15px;
    width: 100%;
  }

  .cost__video.active {
    display: flex;
    row-gap: 30px;
    flex-direction: column;
    align-items: center;
  }

  .video__main-form{
    min-width: 400px;
  }

  .video__number-item img{
    width: 41px;
  }

  .question{
    flex-direction: column;
  }

  .question__title,
  .question__sub-title{
    text-align: center;
  }

  .question__image-desctop{
    margin-bottom: 15px;
  }

  .feedback{
    margin-bottom: 90px;
  }

  .feedback__slider{
    flex-direction: column;
    row-gap: 75px;
  }

  .feedback__slider-item{
    width: 100%;
  }

  .feedback__button{
    align-self: center;
    bottom: -30px;
  }
}

@media (max-width: 767px ){
  .header{
    font-size: 15px;
  }
  
  .burger-btn{
    order: 0;
    padding: 0;
  }
  
  .header__phone-link{
    flex-basis: 100%;
    max-width: 100%;
    justify-content: center;
    height: 50px;
  }
  
  .header__logo{
    margin-block: 5px;
  }

  .heroes-action__main-title{
    white-space: wrap;
  }

  .heroes-action__today-buy{
    max-width: 200px;
  }
  
  .heroes-action__paragraph{
    font-size: 15px;
  }
  
  .heroes-action__form-heading{
    font-size: 20px;
  }
  
  .heroes-action__form-heading b{
    font-size: 28px;
  }

  .impact__list,
  .how-happens__list{
    grid-template-columns: 1fr;
  }

  .impact__title,
  .how-happens__title{
    margin-bottom: 15px;
  }

  .impact__num-image,
  .how-happens__num-image{
    width: 60px;
    height: 65px;
  }

  .compare{
    padding-bottom: 0;
  }

  .compare__sub-title{
    margin-bottom: 15px;
  }

  .compare__card,
  .compare__main-card{
    padding: 30px 15px;
  }

  .compare__card:first-child{
    box-shadow: 0 -5px 20px var(--color-grey);
  }
  .compare__card:last-child{
    box-shadow: 0 -5px 20px var(--color-grey);
  }

  .compare__card-heading,
  .main-card__heading{
    margin-bottom: 10px;
  }

  .compare__card-paragraph,
  .main-card__sub-heading{
    margin-bottom: 30px;
  }

  .compare__card-paragraph::before,
  .main-card__sub-heading::before{
    bottom: -15px;
  }

  .main-card__item:last-child{
    margin-bottom: 15px;
  }

  .services{
    padding: 30px 0 40px;
    margin-top: -20px;
    box-shadow: 0px 0px 40px #1d1d1d;
  }
  .services__bg{
    height: 800px;
  }

  .services__title{
    margin-bottom: 15px;
  }
  .services__row{
    gap: 10px;
  }

  .benefits{
    padding-bottom: 10px;
  }

  .benefits__item{
    flex-direction: column;
  }

  .benefits__title{
    padding: 15px 30px;
  }

  .benefits__list{
    position: static;
    margin-top: 0;
    padding: 15px 30px;
    width: 100%;
  }

  .how-happens__list{
    margin-bottom: 30px;
    align-self: flex-start;
  }

  .how-happens__button{
    height: 47px;
    letter-spacing: 0;
  }

  .models{
    padding-block: 30px;
  }

  .models__main{
    grid-template-columns: repeat(3, 1fr);
  }

  .models__column{
    min-width: 95px;
  }

  .location__main{
    grid-template-columns: repeat(2, 1fr);
  }

  .necessary{
    margin-block: 30px;
    display: block;
  }

  .necessary__sub-title{
    text-align: center;
  }

  .necessary__row-lists{
    flex-direction: column;
    row-gap: 15px;
  }

  .necessary__list-box,
  .necessary__list{
    align-items: start;
    row-gap: 10px;
  }

  .necessary__list-text{
    line-height: 1.35;
  }

  .necessary__image{
    width: 185px;
    aspect-ratio: 1;
    order: 1;
    align-self: center;
  }

  .necessary__paragraph.last{
    margin-bottom: 15px;
  }

  .necessary__check-item{
    flex-direction: column;
    row-gap: 10px;
  }

  .example{
    height: 370px;
  }

  .example__title{
    margin-bottom: 15px;
  }

  .example__item {
    width: 100%;
  }

  .example__arrow{
    padding: 10px;
  }

  .cost{
    margin-bottom: 60px;
    padding-inline: 15px;
  }

  .cost__sub-titls-area,
  .feedback__sub-title-area{
    flex-direction: column;
    row-gap: 10px;
  }

  .video__numbers-list{
    flex-direction: column;
    align-items: flex-start;
    align-self: self-start;
  }

  .video__main-form{
    min-width: 335px;
  }

  .question{
    margin-bottom: 30px;
  }

  .question__accordion {
    min-height: 450px;
  }

  .question__image-desctop{
    display: none;
  }

  .question__image-mobile{
    display: block;
    margin-bottom: 15px;
  }

  .feedback{
    margin-bottom: 50px;
  }

  .feedback__content-text,
  .feedback__content-video{
    padding: 15px;
  }
}

@media (max-width: 460px) {
  .feedback__content-text,
  .feedback__content-video{
    width: 100%;
  }
}

@media (hover: hover) {
  .example__item:hover{
    border-color: var(--background-color-accent);
  }
  .example__arrow:hover{
    background-color: #d3d3d3;
  }
}

@media (hover: none) {
  .example__item:active{
    border-color: var(--background-color-accent);
  }
  .example__arrow:active{
    background-color: #d3d3d3;
  }
}