.top {
  background: url('../img/top-bg.jpg') 0 0 / cover no-repeat;
}
.top__inner {
  min-height: 500px;
  color: #fff;
  font-family: 'cormorant regular';
  @extend %column;
  justify-content: flex-end;
}
.top__title {
  @include text(60px, 1);
  margin-bottom: 20px;
  max-width: 790px
}
.top__text {
  @include text(24px, normal);
  margin-bottom: 50px;
  max-width: 560px
}




@media (max-width: 680px){
  .top__title{
    @include text(40px, normal);
  }
}
@media (max-width: 360px){
  .top__inner{
    min-height: 367px;
  }
  .top__title{
    font-size: 24px;
    margin-bottom: 10px;
  }
  .top__text{
    font-family: 'open sans light';
    font-size: 13px;
    max-width: 332px;
    margin-bottom: 30px;
  }
}