html,
body{
  height: 100%;
  line-height: 1;
  font-size: 16px;
  background-color: #333;
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
}
.wrapper{
  min-height: 100%;
}
.main {
  padding: 90px 0 30px;
}
.section {
  padding: 30px;
  max-width: 1200px;
  margin: 0 auto;
}
.section--1 {
  background-color: #794f45;
}
.section--2 {
  background-color: #77608d;
}
.section--3 {
  background-color: #7a956b;
}
.section__title {
  font-size: 40px;
  margin-bottom: 20px;
}
.section__text {
  line-height: 1.5;
}
.section__text p{
  margin-bottom: 20px;
}
.section__sub-title {
  font-size: 30px;
  margin-bottom: 20px;
}
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  background-color: #912105;
}
.header__container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  padding: 0 30px;
  align-items: center;
  justify-content: space-between;
  min-height: 70px;
}
.header__logo {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  position: relative;
  background-color: #fff;
  z-index: 5;
}
.header__menu {
}
.menu {
}
.menu__icon {
}
.menu__body {
}
.menu__list > li {
  position: relative;
  margin-left: 20px;
}
.menu__link {
  font-size: 18px;
}
.menu__sub-list {
  position: absolute;
  top: 100%;
  right: 0;
  background: #000;
  padding: 15px;
  min-width: 200px;
}
.menu__sub-list > li {
  margin-bottom: 10px;
}
.menu__sub-list > li:last-child{
  margin-bottom: 0;
}
.menu__sub-link {
}
@media (hover:hover) {
  .menu__link:hover,
  .menu__sub-link:hover{
    text-decoration: underline;
  }
}
@media (hover:none) {
  .menu__link:active,
  .menu__sub-link:active{
    text-decoration: underline;
  }
}
@media (min-width: 767px) {
  .menu__list{
    display: flex;
    align-items: center;
  }
  .menu__list li {
    padding: 10px 0;
  }
  .menu__sub-list{
    translate: (0, 10%);
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: all .3s ease 0s
  }
}