body{
  font-family: sans-serif;
  font-size: clamp(15px, 2vw, 24px);
  background-color: #000;
  color: #fff;
  text-transform: uppercase;
}
a{
  display: inline-block;
  padding: 15px 30px;
}
.top-menu {
  background-color: #333;
  display: flex;
  font-weight: 700;
}
.top-menu > li{
  position: relative;
}
.sub-menu{
  min-width: 280px;
  position: absolute;
  transform-origin: 0 0;
  transform: rotateX(-90deg);
  z-index: 5;
  visibility: hidden;
  opacity: 0;
  transition: .3s linear;
}
.sub-menu .sub-menu{
  position: absolute;
  top: 0;
  left: 100%;
  transition: .3s linear;
}
.sub-menu li{
  position: relative;
}
.sub-menu a{
  color: #7373ff;
  border-bottom: 1px solid #7373ff;
  font-size: clamp(13px, 2vw, 22px);
  font-weight: 200;
  padding: 10px 20px;
  background-color: #eee;
  display: block;
}
#sub-sub-menu li a{
  background-color: #7373ff;
  color: #eee;
  border-bottom: 1px solid #fff;
}
.top-menu li:hover > .sub-menu{
  visibility: visible;
  opacity: 1;
  transform: rotate(0deg);
}
.arrow-up-down{
  display: inline-block;
  position: absolute;
  top: 40%;
  right: 0;
  height: 0;
  width: 0;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-top: 10px solid #7373ff;
  transition: .3s linear;
}
.top-menu li:hover > .arrow-up-down{
  transform: rotate(-180deg);
  transition: .3s linear;
}
@media (max-width: 500px) {
  .top-menu{
    display: block;
  }
  .sub-menu{
    min-width: 100%;
  }
  .sub-menu .sub-menu{
    top: 100%;
    left: 0;
  }
  .arrow-up-down{
    right: 30px;
  }
}