body{
  background-color: #555;
  font-family: sans-serif;
  font-size: 24px;
}
.menu {
  margin: 40px 50px;
}
.menu a.parent{
  margin-right: 10px;
}
.menu li{
  position: relative;
}
.menu__list {
  display: flex;
}
.menu__list>li{
  margin-right: 30px;
}
.menu__link {
  color: #fff;
  padding: 10px 20px;
  
}
.sub-menu__list {
  transition: all .2s;
  visibility: hidden;
  opacity: 0;
  position: absolute;
  min-width: 270px;
  top: 100%;
  left: 0;
  display: none;
  padding-top: 5px;
}
.sub-menu__list>li{
  background-color: #fff;
}
.sub-menu__link {
  color: #000;
  display: block;
  padding: 5px 10px;
}
.sub-sub-menu__list {
  position: absolute;
  top: 0;
  left: 100%;
  padding-left: 5px;
  transition: all .2s;
  visibility: hidden;
  opacity: 0;
  display: none;
  min-width: 270px;
  color: #fff;
}
.sub-sub-menu__list>li{
  background-color: #000;
}
.sub-sub-menu__link {
  padding: 5px 10px;
  display: block;
}
.menu__arrow{
  display: none;
  position: absolute;
  top: 10px;
  right: 0;
  height: 0;
  width: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 7px solid #fff;
  transition: .3s linear;
}
.sub-menu__arrow.arrow{
  border-left: 7px solid #000;
  border-right: none;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  right: 10px;
  display: block;
}
.arrow.active{
  transform: rotate(-180deg);
  transition: .3s linear;
}
.arrow{}
body.mouse .menu__list>li:hover .sub-menu__list{
  display: block;
  visibility: visible;
  opacity: 1;
  transition: all .2s;
}
body.mouse .sub-menu__arrow.arrow{
  display: none;
}
body.mouse .sub-menu__list>li:hover .sub-sub-menu__list{
  visibility: visible;
  opacity: 1;
  display: block;
  transition: all .2s;
}
body.touch .sub-menu__list.open{
  visibility: visible;
  opacity: 1;
  display: block;
  transition: all .2s;
}
body.touch .sub-sub-menu__list.open{
  visibility: visible;
  display: block;
  opacity: 1;
  transition: all .2s;
} 
body.touch .menu__arrow{
  display: block;
}
@media (max-width: 980px) {
  .menu{
    margin: 20px 25px;
  }
  .menu__list{
    display: block;
  }
  .menu__list>li{
    margin: 10px 0;
  }
  .sub-menu__list{
    position: relative;
    left: 0;
    top: 0;
  }
  .sub-sub-menu__list{
    position: relative;
    left: 0;
    top: 0;
    padding-right: 5px;
  }
  .sub-menu__arrow.arrow{
    top: 15px;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 7px solid #000;
    border-bottom: none;
  }
}
@media (max-width: 350px) {
  body{
    font-size: 18px;
  }
  .sub-menu__list,.sub-sub-menu__list{
    min-width: 130px;
  }
}
@media (hover: none) {
  .arrow, .sub-menu__arrow.arrow, .arrow.active{
    transition: all 0s;
  }
}