body{
  font-family: sans-serif;
  font-size: 24px;
  background-color: #000;
}
a{
  color: #fff;
  padding: 15px 30px;
  display: inline-block;
}
.menu-top{
  background-color: #555;
  display: flex;
}
.menu-sub{
  min-width: 210px;
  position: absolute;
  z-index: 5;
  transform-origin: 0 0;
  transform: rotateX(-90deg);
  transition: transform .5s linear;
  visibility: hidden;
  opacity: 0;
}
.menu-sub li{
  position: relative;
}
.menu-sub .menu-sub{
  position: absolute;
  top: 0;
  left: 100%;
}
.menu-top li:hover > .menu-sub{
  transform: rotateX(0deg);
  opacity: 1;
  visibility: visible;
}
.menu-sub a{
  border-bottom: 1px solid #000;
  padding: 10px 20px;
  background-color: #eee;
  font-size: 18px;
  display: block;
  color: #000;
}