/* #32c3cd     #9acd32      #8a2be2 */
body{
  background-image: linear-gradient(45deg, #49A16C, #555);
}
h1{
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  text-align: center;
  color: #eee;
  font-size: clamp(24px, 5vw, 90px);
  margin-bottom: 20px;
}
.container {
  padding: 15% 15px;
  max-width: 1000px;
  margin: 0 auto;
}
.accordion .item{
  background-color: #fff;
  border-radius: 8px;
  overflow: hidden;
  margin-bottom: 15px;
}
.accordion .title{
  position: relative;
  padding: 10px;
  transition: .3s linear;
}
.accordion .title:hover{
  cursor: pointer;
  background-color: #0000ff80;
}
.accordion .title::after{
  position: absolute;
  content: '+';
  right: 0;
  right: 20px;
  color: #ff4500;
  transition: all .3s linear;
}
.accordion .title.active::after{
  rotate: -180deg;
  transition: all .3s linear;
}
.title {
  font-family: sans-serif;
  font-size: clamp(18px, 2vw, 28px);
  color: #1e1e1e;
  font-weight: 700;
}
.accordion .box {
  overflow: hidden;
  transition: all .3s linear;
  max-height: 0;
}
.text {
  font-family: sans-serif;
  font-size: clamp(13px, 2vw, 18px);
  color: #222;
  padding: 10px;
  border-top: 1px solid #80808060;
}
